* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(141, 93, 193, 1) 0%, rgba(255, 131, 203, 1) 33%, rgba(248, 217, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
}

.header {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
}

#quiz-container {
    background-color: #fff;
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
}

.start-screen,
.score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

#start-button,
#restart, #learn-more {
    font-size: 2em;
    font-weight: 600;
    color: #6A179A;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
    box-shadow: 0px 13px 35px -7px rgba(86, 2, 181, 1);
}

#pride-colors {
    font-weight: 100;
    margin-bottom: 0.9em;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.15em;
}

.description {
    color: #6A179A;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 0.9em;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.15em;
}

mark {
    background: linear-gradient(to right, rgb(237, 34, 36, 0.3), rgb(243, 91, 34, 0.3), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165, 0.3), rgb(97, 55, 155, 0.3), rgb(147, 40, 142, 0.3));
    color: #1E0658;
    padding: 5px;
    font-weight: 100;
    font-style: italic;
}

#restart {
    margin-top: 0.9em;
}

.timer-div {
    background-color: #6A179A;
    font-size: 2em;
    color:#fff;
    width: 4.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1.5em;

}

#next-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: black;
    color: #fff;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}

/* js part */

.question {
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 2em;
    color: #6A179A;
}

.option-div {
    font-size: 1.4em;
    letter-spacing: 0.15em;
    width: 100%;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid #c0bfd2;
    border-radius: 0.3em;
}

.option-div:disabled {
    color: #000;
    cursor: not-allowed;
}


.hide {
    display: none;
}

.incorrect {
    background-color: #E56AAF;
    color: #A01D5F;
    border-color: #A01D5F;
}

.correct {
    background-color: #41DC89;
    color: #0FB8A6;
    border-color: #0FB8A6;
}

#user-score {
    font-size: 4em;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px rgba(86, 2, 181, 1);
    font-style: italic;
    color: #fff;
    margin-bottom: 0.6em;
}

#learn-more {
    color: #1E0658;
    background: linear-gradient(to right, rgb(237, 34, 36, 0.3), rgb(243, 91, 34, 0.3), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165, 0.3), rgb(97, 55, 155, 0.3), rgb(147, 40, 142, 0.3));
}